rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function userSelf(uid) { return signedIn() && request.auth.uid == uid; }

    match /users/{uid} {
      allow read: if true;
      allow create: if userSelf(uid);
      allow update, delete: if false;
    }

    match /days/{date} {
      allow read: if true;
      match /{document=**} {
        allow write: if false;
      }
    }

    match /rooms/{roomId}/messages/{messageId} {
      allow read: if true;
      allow create: if signedIn()
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.username is string
        && request.resource.data.text is string
        && request.resource.data.text.size() > 0
        && request.resource.data.text.size() <= 400
        && request.resource.data.createdAt != null
        && request.resource.data.keys().hasOnly(['uid','username','text','createdAt']);
      allow update, delete: if false;
    }

    match /{document=**} { allow read, write: if false; }
  }
}
